<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated covid19 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="se.lnu.joa.covid.model.covid19.presentation.Covid19ModelWizardID"
            name="%_UI_Covid19ModelWizard_label"
            class="se.lnu.joa.covid.model.covid19.presentation.Covid19ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Covid19ModelFile.gif">
         <description>%_UI_Covid19ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated covid19 -->
      <editor
            id="se.lnu.joa.covid.model.covid19.presentation.Covid19EditorID"
            name="%_UI_Covid19Editor_label"
            icon="icons/full/obj16/Covid19ModelFile.gif"
            extensions="covid19"
            class="se.lnu.joa.covid.model.covid19.presentation.Covid19Editor"
            contributorClass="se.lnu.joa.covid.model.covid19.presentation.Covid19ActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated covid19AnalysisConfig -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="se.lnu.joa.covid.model.config.presentation.ConfigModelWizardID"
            name="%_UI_ConfigModelWizard_label"
            class="se.lnu.joa.covid.model.config.presentation.ConfigModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ConfigModelFile.gif">
         <description>%_UI_ConfigModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated covid19AnalysisConfig -->
      <editor
            id="se.lnu.joa.covid.model.config.presentation.ConfigEditorID"
            name="%_UI_ConfigEditor_label"
            icon="icons/full/obj16/ConfigModelFile.gif"
            extensions="config"
            class="se.lnu.joa.covid.model.config.presentation.ConfigEditor"
            contributorClass="se.lnu.joa.covid.model.config.presentation.ConfigActionBarContributor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated covid19Data -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="se.lnu.joa.covid.model.data.presentation.DataModelWizardID"
            name="%_UI_DataModelWizard_label"
            class="se.lnu.joa.covid.model.data.presentation.DataModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DataModelFile.gif">
         <description>%_UI_DataModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated covid19Data -->
      <editor
            id="se.lnu.joa.covid.model.data.presentation.DataEditorID"
            name="%_UI_DataEditor_label"
            icon="icons/full/obj16/DataModelFile.gif"
            extensions="data"
            class="se.lnu.joa.covid.model.data.presentation.DataEditor"
            contributorClass="se.lnu.joa.covid.model.data.presentation.DataActionBarContributor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated covid19Analysis -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="se.lnu.joa.covid.model.analysis.presentation.AnalysisModelWizardID"
            name="%_UI_AnalysisModelWizard_label"
            class="se.lnu.joa.covid.model.analysis.presentation.AnalysisModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AnalysisModelFile.gif">
         <description>%_UI_AnalysisModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated covid19Analysis -->
      <editor
            id="se.lnu.joa.covid.model.analysis.presentation.AnalysisEditorID"
            name="%_UI_AnalysisEditor_label"
            icon="icons/full/obj16/AnalysisModelFile.gif"
            extensions="analysis"
            class="se.lnu.joa.covid.model.analysis.presentation.AnalysisEditor"
            contributorClass="se.lnu.joa.covid.model.analysis.presentation.AnalysisActionBarContributor">
      </editor>
   </extension>
</plugin>
