<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated covid19 -->
      <package
            uri="http://lnu.se/dv651/covid19/csv"
            class="se.lnu.joa.covid.model.covid19.Covid19Package"
            genModel="model/covid19.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated covid19AnalysisConfig -->
      <package
            uri="http://lnu.se/dv651/covid19/config"
            class="se.lnu.joa.covid.model.config.ConfigPackage"
            genModel="model/covid19AnalysisConfig.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated covid19Data -->
      <package
            uri="http://lnu.se/dv651/covid19/csv"
            class="se.lnu.joa.covid.model.data.DataPackage"
            genModel="model/covid19Data.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated covid19Analysis -->
      <package
            uri="http://lnu.se/dv651/covid19/analyze"
            class="se.lnu.joa.covid.model.analysis.AnalysisPackage"
            genModel="model/covid19Analysis.genmodel"/>
   </extension>

</plugin>
